<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.autopista.es/uploads/s1/10/97/81/48/aston-martin-estrena-nuevo-logotipo.jpeg" alt="Aston Martin" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Circuitos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservas</a>
        </li>
        <li class="nav-item" *ngIf="rol_usuario == 'admin'">
          <a class="nav-link" href="#">Panel Admin</a>
        </li>
      </ul>
      <div class="d-flex">
        <div *ngIf="!isLoggedIn()">
          <fa-icon [icon]="faUser"></fa-icon>
          <a (click)="this.google.login()">Iniciar Sesion</a>
        </div>
        <div *ngIf="isLoggedIn()">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <fa-icon [icon]="faUser"></fa-icon>{{obtenerNombre()}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="open(vehiculos)">Mis Vehiculos</button>
              <button ngbDropdownItem (click)="open(datos)">Mis Datos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #vehiculos let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">MIS VEHICULOS</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cerrar</button>
	</div>
</ng-template>

<ng-template #datos let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">MIS DATOS</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cerrar</button>
	</div>
</ng-template>
