<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.autopista.es/uploads/s1/10/97/81/48/aston-martin-estrena-nuevo-logotipo.jpeg"
        alt="Aston Martin" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Circuitos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservas</a>
        </li>
        <li class="nav-item" *ngIf="rol_usuario == 'admin'">
          <a class="nav-link" href="#">Panel Admin</a>
        </li>
      </ul>
      <div class="d-flex">
        <div *ngIf="!isLoggedIn()">
          <fa-icon [icon]="faUser"></fa-icon>
          <a (click)="this.google.login()">Iniciar Sesion</a>
        </div>
        <div *ngIf="isLoggedIn()">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <fa-icon [icon]="faUser"></fa-icon>{{obtenerNombre()}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="open(vehiculos)">Mis Vehiculos</button>
              <button ngbDropdownItem (click)="open(datos)">Mis Datos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #vehiculos let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">MIS VEHICULOS</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="isLoggedIn()">
    <form (ngSubmit)="insertarVehiculo()" #vehiculoForm="ngForm">
      <div class="mb-3">
        <label for="matricula" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="matricula" [(ngModel)]="vehiculo.matricula" name="matricula"
          #matricula="ngModel" required minlength="7">
        <div *ngIf="matricula.invalid && matricula.dirty">
          <p class="form-text" *ngIf="matricula.errors?.['required']">Campo requerido</p>
          <p class="form-text" *ngIf="matricula.errors?.['minlength']">La matricula debe tener una longitiud de 7 caracteres</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="nombre_conductor" class="form-label">Nombre del conductor</label>
        <input type="text" class="form-control" id="nombre_conductor" [(ngModel)]="vehiculo.nombre_conductor"
          name="nombre_conductor" #nombre_conductor="ngModel" required>
        <div *ngIf="nombre_conductor.invalid && nombre_conductor.dirty">
          <p class="form-text" *ngIf="nombre_conductor.errors?.['required']">Campo requerido</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="dni_titular" class="form-label">DNI del titular</label>
        <input type="text" class="form-control" id="dni_titular" [(ngModel)]="vehiculo.dni_titular" name="dni_titular"
          #dni_titular="ngModel" required required minlength="9">
        <div *ngIf="dni_titular.invalid && dni_titular.dirty">
          <p class="form-text" *ngIf="dni_titular.errors?.['required']">Campo requerido</p>
          <p class="form-text" *ngIf="dni_titular.errors?.['minlength']">El DNI debe de tener una longitud de 9 caracteres</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="nombre_titular" class="form-label">Nombre del titular</label>
        <input type="text" class="form-control" id="nombre_titular" [(ngModel)]="vehiculo.nombre_titular" name="nombre_titular"
          #nombre_titular="ngModel">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!vehiculoForm.form.valid">Insertar vehiculo</button>
    </form>
    <div>
      <div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cerrar</button>
  </div>
</ng-template>

<ng-template #datos let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">MIS DATOS</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="isLoggedIn()">
    <p class="text-center">Nombre: {{userInfo.given_name}}</p>
    <p class="text-center">Apellidos: {{userInfo.family_name}}</p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-danger">Cerrar Sesión</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cerrar</button>
  </div>
</ng-template>
