<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">{{circuitoActual.nombre.toUpperCase()}}</h1>
    </div>
    <div class="col-md-6">
      <select class="form-select mt-1" name="circuito" id="circuito" #circuitoSel
        (change)="cambiarCircuito(circuitoSel.value)">
        <option *ngFor="let circuito of circuitos; index as i" [value]="i">{{circuito.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <img [src]="'/assets/' + circuitoActual.nombre.toLowerCase() + '.jpg'" class="img-fluid"
        [alt]="circuitoActual.nombre">
    </div>
  </div>
  <form class="row mt-3 bordes rounded mx-1" #sesionForm="ngForm" (ngSubmit)="insertarSesion()">
    <div class="col-md-6 mt-3">
      <label for="nombre_sesion" class="form-label">Nombre de la sesion</label>
      <input type="text" class="form-control" id="nombre_sesion" [(ngModel)]="circuitoInsertar.nombre"
        name="nombre_sesion" #nombre_sesion="ngModel" required>
        <div *ngIf="nombre_sesion.invalid && nombre_sesion.dirty">
          <p class="form-text" *ngIf="nombre_sesion.errors?.['required']">Campo requerido</p>
        </div>
    </div>
    <div class="col-md-6 mt-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="date" class="form-control" id="fecha" [(ngModel)]="circuitoInsertar.fecha"
        name="fecha" #fecha="ngModel" required>
        <div *ngIf="fecha.invalid && fecha.dirty">
          <p class="form-text" *ngIf="fecha.errors?.['required']">Campo requerido</p>
        </div>
    </div>
    <div class="col-md-6 mt-3">
      <label for="hora_inicio" class="form-label">Hora de inicio</label>
      <input type="time" class="form-control" id="hora_inicio" [(ngModel)]="circuitoInsertar.horaInicio"
        name="hora_inicio" #hora_inicio="ngModel" required>
        <div *ngIf="hora_inicio.invalid && hora_inicio.dirty">
          <p class="form-text" *ngIf="hora_inicio.errors?.['required']">Campo requerido</p>
        </div>
    </div>
    <div class="col-md-6 mt-3">
      <label for="hora_fin" class="form-label">Hora de fin</label>
      <input type="time" class="form-control" id="hora_fin" [(ngModel)]="circuitoInsertar.horaFin"
        name="hora_fin" #hora_fin="ngModel" required>
        <div *ngIf="hora_fin.invalid && hora_fin.dirty">
          <p class="form-text" *ngIf="hora_fin.errors?.['required']">Campo requerido</p>
        </div>
    </div>
    <div class="col mt-3 mb-3">
      <button class="btn btn-primary" [disabled]="!sesionForm.form.valid">INSERTAR SESION</button>
    </div>
  </form>
  <div class="row mt-3 bordes rounded mx-1" *ngFor="let reserva of reservas[1]; index as i">
    <div class="col-md-2 mt-3">
      <p class="text-center">{{reserva.titulo}}</p>
    </div>
    <div class="col-md-2 mt-3">
      <p class="text-center">{{reserva.fecha}}</p>
    </div>
    <div class="col-md-2 mt-3">
      <p class="text-center">{{reserva.hora_inicio}}-{{reserva.hora_fin}}</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 mb-1 mt-1">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button class="btn btn-primary" type="button" [routerLink]="['/admin/reservas', reserva.id_reserva]">VER RESERVAS</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 mb-1 mt-1">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button class="btn btn-danger" type="button" (click)="eliminarSesion(reserva.id_reserva)">ELIMINAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
